@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
*,
*::before,
*::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-synthesis: none;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth
}
body {
	margin: 0 auto;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #111;
	background-color: #fff;
	-webkit-text-size-adjust: auto;
	-moz-text-size-adjust: auto;
	-ms-text-size-adjust: auto;
	text-size-adjust: auto;
	transition: 0.2s;
	line-height: 1.7;
	  font-family: 'Montserrat', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
h1{font-size: 45px;}
h2{font-size: 38px;}
h3{font-size: 25px;}

a,
a:link,
a:visited,
a:hover,
a:active {
  letter-spacing: 0.5px;
  outline: none;
  color: #1f1f1f;
  text-decoration: none;
}

p {
  word-wrap: break-word;
  word-break: break-word;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #393939;
}

p, ul li, ol li{letter-spacing: 1.1px;font-size: 16px;}

.equal-padding-T{padding-top: 60px;}
 .equal-padding-B{padding-bottom: 60px;}
.minHeading h6{color: #094CB2;font-weight: 500;padding-bottom: 25px;}
.bigHeading h2{font-weight: 700;}
.section-seprator{
    border-bottom: 1px solid #707070;
}

.bg-dark-color{background-color:#094CB2 ; color:#fff;}
.bg-light-color{background-color:#1998FC1A ;}
.bg-white-color{background-color:#fff ; border: 2px solid #094CB2;}


.heroBanner{
    background-image: url('../images/banner-bg.png');
    width: 100%;
height: 100vh;
background-size: cover;
background-position: center;
}

.heroBanner h1{
    letter-spacing: 15px;
color: #1998FC;
text-shadow: 0px 0px 11px #000000CC;
font-weight: 700;
padding-bottom: 15px;
}
.heroContent h2{font-weight: 700;}

/* .marketplace-wrap{display: flex;justify-content: space-between;

} */
.marketplace-wrap{
    background-image: url('../images/hand-border.png');
    background-repeat: no-repeat;
    display: flex;
justify-content: space-between;
background-size: contain;
padding: 30px;
text-align: center;
}
/* .handshake{
   
    margin: auto;
    width: 100px;
    height: auto;
    

} */
/* .handshake img{width: 100%;} */
/* .marketbox-wrap{
    border: 5px solid #0098FF;
    text-align: center;
    border-radius: 10px;
    height: 100%;
} */
.marketbox{
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
}
.marketbox h4{color: #094CB2;font-weight: 700;padding-bottom: 15px;}

.manufacture-list ul{list-style: none;}
.manufacture-list ul li{position: relative;margin-left: 50px;margin-bottom: 15px;font-weight: 500;color: #393939;}
.manufacture-list ul li::before{
    content: '';
    background-image: url('../images/blue-check.png');
    position:absolute;
    left: -40px;
    width: 34px;
height: 31px;
}


  .how-its-works-container .how-its-works-main .works-item{
    list-style: none;
    display:grid;
    column-gap: 35px;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    
    
  }
  .how-its-works-container .how-its-works-main .works-item li{
   
    padding:30px 12px;
border-radius: 14px;
position: relative;
  }

  /* .start-sections-align{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */
  .active-how-it-works::before, .active-how-it-works::after{
    content: '';
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height:40px;
    width: 30px;
  }

  .active-how-it-works::after{background: url('../images/how-its-works/arrow-left.svg') no-repeat center ; right: -30px;}
   .active-how-it-works::before{background: url('../images/how-its-works/arrow-right.svg') no-repeat center ; left: -30px;}

 
  .how-its-works-container .how-its-works-main .works-item li h4{
    color:#094CB2;
    font-weight: 600;
    height: 75px;
    font-size: 20px;
  }
  .how-its-works-container .how-its-works-main .works-item li p{
    font-weight: 500;
    font-size: 14px;
  }
.top-data img{width: 50px;}


.GlobalWrap ul{
display: grid;
grid-gap: 3rem;
/* grid-template-columns: repeat(6, 1fr); */
grid-template-columns: repeat(auto-fit,minmax(150px,1fr));

list-style: none;
}
.GlobalWrap ul li{text-align: center;}
.GlobalWrap ul li h4 span{display: block;font-weight: 700;}
 .blueStrip{background-color: #094CB2;color: #fff;padding: 10px 20px;border-radius: 10px;display: inline-block;font-weight: 700;}
 .globalInfo p span{font-size: 12px;}

 .manufacturing-capacities-wrap h3{padding-bottom: 20px;font-weight: 700;}
 .manufacturing-capacities-wrap ul{padding-left: 15px;list-style: none;}
 .manufacturing-capacities-wrap li{font-weight: 500;padding-bottom: 4px;position: relative;}
.columnCount-1{width: 48%;}


  
.manufacturing-capacities-wrap li::before {
    content: "";
    color: #094CB2;
    display: inline-block;
    width: 6px;
height: 6px;
border-radius: 50px;
    margin-left: -15px;
    position: absolute;
    background-color: #094CB2;
top: 8px;
  }



.testibg{
    background-size: cover;
    width: 100%;
    height: 550px;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}

.testi-content-wrap{text-align: center;}
.testi-content-wrap .testi-quote{display: inline-block;}
.testi-quote img{width: auto !important;}
.testi-content-wrap h2{color: #fff;font-weight: 700;}


  .testi-slider-one{
      background-image: url('../images/testi-bg-1.png');
  }
  .testi-slider-two{
    background-image: url('../images/testi-bg-2.png');
}
.testi-slider-three{
    background-image: url('../images/testi-bg-3.png');
}
.testimonial-carousel .clientInfo h2 {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}
.testimonialSlider .owl-dots{
    position: absolute;
bottom: 0;
left: 0;
right: 0;
}



 @media all and (max-width: 768px) {
  
  
  }
  @media screen and (min-width: 600px) and (max-width: 992px) {}
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
   
  }
  
  @media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {}
  
  @media only screen and (min-width: 1440px) {
      .container {
          max-width: 1140px;
      }
  }
  