@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-synthesis: none;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth
}

body {
	margin: 0 auto;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #111;
	background-color: #fff;
	-webkit-text-size-adjust: auto;
	-moz-text-size-adjust: auto;
	-ms-text-size-adjust: auto;
	text-size-adjust: auto;
	transition: 0.2s;
	line-height: 1.7;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 38px;
}

h3 {
	font-size: 25px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	letter-spacing: 0.5px;
	outline: none;
	color: #1f1f1f;
	text-decoration: none;
}

p {
	word-wrap: break-word;
	word-break: break-word;
	line-height: 28px;
	font-weight: 400;
	margin-bottom: 15px;
	color: #393939;
}

p,
ul li,
ol li {
	letter-spacing: 1.1px;
	font-size: 16px;
}

.equal-padding-T {
	padding-top: 60px;
}

.equal-padding-B {
	padding-bottom: 60px;
}

.minHeading h6 {
	color: #094CB2;
	font-weight: 500;
	padding-bottom: 25px;
}

.bigHeading h2 {
	font-weight: 700;
}

.section-seprator {
	border-bottom: 1px solid #707070;
}

.bg-dark-color {
	background-color: #094CB2;
	color: #fff;
}

.bg-light-color {
	background-color: #1998FC1A;
}

.bg-white-color {
	background-color: #fff;
	border: 2px solid #094CB2;
}

.c-btn {
	display: inline-block;
	padding: 05px 20px;
	font-size: 16px;
	border-radius: 20px;
}

.c-btn-border-white {
	border: 1px solid #fff;
}

.c-btn-white-bg {
	background-color: #fff;
	color: #094CB2;
}

.l-login {
	color: #094CB2 !important;
}

.header-menu {
	width: 100%;
	padding: 10px 40px;
	position: fixed;
	z-index: 1008;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu ul li {
	display: inline-block;
	margin-right: 30px;
}

.header-menu ul li a {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}

.loginWrap li a {
	width: 120px;
	text-align: center;
}
.buttonwrap li{list-style: none;margin-right:10px;}

.activeheadermenu {
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, .1);
	transition: all .5s;
	background: #fff;
}

.activeheadermenu .white_logo {
	display: none;
}

.activeheadermenu .color_logo {
	display: block !important;
}

.activeheadermenu li a {
	color: #000000CC !important;
}

.activeheadermenu .c-btn-border-white {
	border: 1px solid #1998FC !important;
	color: #1998FC !important;
}

.activeheadermenu .c-btn-white-bg {
	background-color: #1998FC !important;
	color: #fff !important;
}

.menu-toggle {
	display: none;
}

.heroBanner {
	background-image: url('../images/banner-bg.png');
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.heroBanner h1 {
	letter-spacing: 15px;
	color: #1998FC;
	text-shadow: 0px 0px 11px #000000CC;
	font-weight: 700;
	padding-bottom: 15px;
}

.heroContent h2 {
	font-weight: 700;
}

.scroll-downs {
	position: absolute;
	top: 85%;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 34px;
	height: 55px;
}

.mousey {
	width: 3px;
	padding: 10px 12px;
	height: 25px;
	border: 2px solid #fff;
	border-radius: 25px;
	opacity: 0.75;
	box-sizing: content-box;
}

.scroller {
	width: 3px;
	height: 10px;
	border-radius: 25%;
	background-color: #fff;
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
}

@keyframes scroll {
	0% {
		opacity: 0;
	}
	10% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(15px);
		opacity: 0;
	}
}


/* .marketplace-wrap{display: flex;justify-content: space-between;

} */
.marketplace-wrap:before{
content: "";
background-image: url('../images/hand-border.png');
background-repeat: no-repeat;
background-size: contain;
width: 100%;
height: 320px;
position: absolute;
left: 0;
right: 0;
margin: auto;
top: 0;
bottom: 0;
  }

.marketplace-wrap {
display: flex;
justify-content: space-between;
padding: 30px;
text-align: center;
position: relative;
}


/* .handshake{
   
    margin: auto;
    width: 100px;
    height: auto;
    

} */


/* .handshake img{width: 100%;} */


/* .marketbox-wrap{
    border: 5px solid #0098FF;
    text-align: center;
    border-radius: 10px;
    height: 100%;
} */

.dashlineWrap {
	position: relative;
}

.dashlineWrap:after {
	content: "";
	width: 1px;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-right: 2px dashed #B5C4CE;
	z-index: -1;
}

.manufacture-img {
	/*width: 585px;*/
	position: relative;
}
.position-over-img{
    position: absolute;
top: 20px;

}
.over-right{right: 100px;}
.over-left{left: 100px;}
.marketbox {
	padding: 15px;
	box-sizing: border-box;
	border-radius: 10px;
	max-width: 300px;
	width: 100%;
	height: 100%;
}

.marketbox h4 {
	color: #094CB2;
	font-weight: 700;
	padding-bottom: 15px;
}

.manufacture-list ul {
	list-style: none;
}

.manufacture-list ul li {
	position: relative;
	margin-left: 50px;
	margin-bottom: 15px;
	font-weight: 500;
	color: #393939;
}

.manufacture-list ul li::before {
	content: '';
	background-image: url('../images/tick-mark.svg');
	position: absolute;
	left: -40px;
	width: 34px;
	height: 31px;
	background-repeat: no-repeat;
}

.opportunity-container .opportunity-main,
.opportunity-container .sectionHeading {
	filter: drop-shadow(0px 3px 3px #0009);
}

.opportunity-container .opportunity-main .main-items .item {
	text-align: center;
}

.opportunity-container .opportunity-main .main-items .item .item-img {
	width:100px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.opportunity-container .opportunity-main .main-items .item img {
	width:100%;

	
}

.opportunity-container .opportunity-main .main-items .item h3 {
	font-weight: 700;
}

.opportunity-container .opportunity-main .main-items .item .footer-data {
	display: flex;
	justify-content: center;
	align-items: center;
}

.opportunity-container .opportunity-main .main-items .item .footer-data img {
	/* width:60px; */
	margin: 0;
	padding: 0 15px;
}

.opportunity-container .opportunity-main .main-items .item .footer-data span {
	font-size: 13px;
	font-weight: 600;
}

.opportunity-container .opportunity-main .main-items .item .footer-data b {
	font-weight: 600;
	font-size: 16px;
}

.how-its-works-container .how-its-works-main .works-item {
	list-style: none;
	display: grid;
	column-gap: 35px;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.how-its-works-container .how-its-works-main .works-item li {
	padding: 30px 12px;
	border-radius: 14px;
	position: relative;
}


/* .start-sections-align{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */

.active-how-it-works::before,
.active-how-it-works::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 40px;
	width: 30px;
}

.active-how-it-works::after {
	background: url('../images/how-its-works/arrow-left.svg') no-repeat center;
	right: -30px;
}

.active-how-it-works::before {
	background: url('../images/how-its-works/arrow-right.svg') no-repeat center;
	left: -30px;
}

.how-its-works-container .how-its-works-main .works-item li h4 {
	color: #094CB2;
	font-weight: 600;
	height: 75px;
	font-size: 20px;
}

.how-its-works-container .how-its-works-main .works-item li p {
	font-weight: 500;
	font-size: 14px;
}

.top-data img {
	width: 50px;
}

.echo-partners-wrap a,
.how-its-works-container a {
	color: #094CB2;
	text-decoration: underline;
}
.globalInfo ul{
	display: block!important;
	margin-left: 65px;

	list-style:disc!important;
}
.globalInfo ul li{
	width: 100%!important;
	text-align: left!important;
}
.GlobalWrap ul {
	/*display: grid;
	grid-gap: 2rem;
	 grid-template-columns: repeat(6, 1fr); 
	grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
	list-style: none;*/
	display: flex;
    grid-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.GlobalWrap ul li {
	text-align: center;
	width: 130px;
}

.GlobalWrap ul li h4 span {
	display: block;
	font-weight: 700;
}

.blueStrip {
	background-color: #094CB2;
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	display: inline-block;
	font-weight: 700;
}

.miniInfo span {
	font-size: 12px;
}

.manufacturing-capacities-wrap h3 {
	padding-bottom: 20px;
	font-weight: 700;
}

.manufacturing-capacities-wrap ul {
	padding-left: 15px;
	list-style: none;
}

.manufacturing-capacities-wrap li {
	font-weight: 500;
	padding-bottom: 4px;
	position: relative;
}

.columnCount-1 {
	width: 48%;
}

.columnCount-1 h5 {
	font-weight: 700;
	padding-bottom: 15px;
}

.manufacturing-capacities-wrap li::before {
	content: "";
	color: #094CB2;
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50px;
	margin-left: -15px;
	position: absolute;
	background-color: #094CB2;
	top: 8px;
}

.testibg {
	background-size: cover;
	width: 100%;
	height: 550px;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.testi-content-wrap {
	text-align: center;
}

.testi-content-wrap .testi-quote {
	display: inline-block;
}

.testi-quote img {
	width: auto !important;
}

.testi-content-wrap h2 {
	color: #fff;
	font-weight: 700;
}

.testi-slider-one {
	background-image: url('../images/testi-bg-1.png');
}

.testi-slider-two {
	background-image: url('../images/testi-bg-2.png');
}

.testi-slider-three {
	background-image: url('../images/testi-bg-3.png');
}

.testimonial-carousel .clientInfo h2 {
	font-size: 50px;
	margin-bottom: 10px;
	font-weight: bold;
}

.testimonialSlider .owl-dots {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.externalLinks h4,
.externalLinks li,
.externalLinks a,
footer p,
.copyrightWrap a {
	color: #fff;
}

.externalLinks h4 {
	font-size: 20px;
	font-weight: 700;
}

.externalLinks li {
	font-size: 16px;
}

.externalLinks ul {
	list-style: none;
}

.externalLinks h4,
.externalLinks li {
	padding-bottom: 10px;
}

.copyrightWrap a {
	text-decoration: underline;
}

.socialLinks ul li {
	display: inline-block;
	margin-right: 15px;
}

.copyrightWrap {
	border-top: 1px solid #fff;
	padding: 20px 0;
}

.about-container {
	max-height: max-content;
	background: url('../images/career-jumbotron.png') no-repeat;
	background-size: cover;
}

.item-content p {
	color: #fff;
}

.about-container .about-head h2 {
	font-size: 45px;
	text-align: center;
	font-weight: 700;
}

.about-container .about-main {
	margin-top: 70px;
}

.about-container .about-main .about-list .list-items {
	display: flex;
	align-items: center;
	column-gap: 20px;
	margin-bottom: 60px;
}

.about-container .about-main .about-list .list-items h5 {
	color: #fff;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 20px;
}

.jumbotron-container {
	background: url('../images/career-jumbotron.png') no-repeat;
	background-size: cover;
}

.jumbotron-container .jumbotron-head {
	padding: 80px 0;
}

.jumbotron-container .jumbotron-head h1 {
	color: #ffffff;
	text-align: center;
	font-size: 45px;
	font-weight: 700;
}

.data-item h4,
.data-item {
	padding-bottom: 15px;
}

.data-item ul {
	padding-left: 15px;
}

#contactusform {
	width: 400px;
	box-shadow: 0px 2px 3px 0px rgba(2, 47, 57, 0.14);
	margin: auto;
	padding: 20px;
}

#contactusform .form-group {
	padding-bottom: 15px;
}

.contactInfo ul {
	list-style: none;
}

.contactInfo ul li {
	display: inline-block;
}

.contactInfo a {
	color: #fff;
	font-size: 20px;
	padding: 0 20px;
	position: relative;
}

.contactInfo ul li a::after {
	content: "";
	width: 1px;
	height: 80%;
	display: block;
	background-color: #fff;
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

.contactInfo ul li:last-child a::after {
	background-color: transparent;
}

input[type='submit'] {
	border: none;
}
.close-btn {
position: absolute;
right: 10px;
top: 10px;
border: none;
background-color: transparent;
cursor: pointer !important;
z-index: 10;
}
.showinmobile{display:none;}

.discover-container{}
.discover-container .discover-main .discover-btn{
	font-size: 16px;
    font-weight: 500;
	background-color: #1998FC !important;
    color: #fff !important;
	padding: 12px 40px;
    border-radius: 30px;
}



.feature-main{}
.feature-main .feature-items{}
.feature-main .feature-items .item-content{
	border:3px solid #094CB2;
	border-radius:13px;
	padding:20px 10px;
	position: relative;
	margin-top: 120px;
	padding-top: 50px;
	height: 360px;
}
.feature-main .feature-items .item-content p{
	color:#111;

}
.feature-main .feature-items .item-content h4{
	height:100px;
	font-size:20px;
	font-weight: 700;

}
.feature-main .feature-items .item-content .item-img{
	width:150px;
	position:absolute;
	top:-100px;
	left:50%;
	transform: translateX(-50%);

}



@media all and (max-width: 768px) {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 26px;
	}
	h2 br,
	.menu-list nav,
	.active-how-it-works::before,
	.active-how-it-works::after {
		display: none;
	}
	.menu-toggle {
		cursor: pointer;
	}
	.menuOpen {
		display: block;
	}
	.header-menu {
		padding-left: 20px;
		padding-right: 20px;
	}
	#mobilemenu {
		background-color: #1998FC;
		width: 100%;
		height: 100vh;
		position: fixed;
		left: 0;
		top: 0;
	}
	#mobilemenu ul li a {
		color: #fff !important;
	}
	.activeheadermenu .c-btn-border-white {
		border: 1px solid #fff !important;
		color: #fff !important;
	}
	#mobilemenu ul li a.c-btn-white-bg {
		background-color: #fff !important;
		color: #1998FC !important;
	}
	#mobilemenu .d-flex {
		display: block !important;
		margin-top: 50px;
		margin-left: 30px;
	}
	.header-menu ul li {
		display: block;
		margin-bottom: 25px;
		text-align: center;
	}
	.menuClosed {
		position: absolute;
		right: 26px;
		top: 15px;
	}
	.menuOpen img {
		width: 33px;
	}
	.marketplace-wrap:before{
	    	background-image: none;
	}
	.marketplace-wrap {
	
		display: block;
		margin-top: 0 !important;
	}
	.marketbox-wrap {
		margin-bottom: 15px;
	}
	.manufacture-list {
		padding-top: 20px;
	}
	.manufacture-list ul li::before {
		background-size: contain;
		width: 20px;
		height: 20px;
	}
	.dashlineWrap::after {
		border-right: none;
	}
	.manufacture-img {
		width: 100%;
	}
	/* .feature-container .feature-main .feature-items {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		column-gap: 40px;
	}
	.feature-container .feature-main .feature-items .hex-item {
		top: 0px!important;
		left: 0px!important;
		margin: 34px auto;
	}
	.feature-container .feature-main .feature-items .hex-item .hex-icon {
		top: -7%!important;
		left: 158px!important;
	} */
	.card-arrow-right::after,
	.card-arrow-left::after,
	.top-arrow,
	.echo-desktop {
		display: none;
	}
	body .externalLinks {
		padding-left: 0 !important;
	}
	.copyrightWrap {
		display: block !important;
	}
	#contactusform {
		width: 100%;
	}
	.contactInfo ul li a::after {
		background-color: transparent;
	}
	.video-main iframe {
		height: 400px;
	}
	.how-its-works-container .how-its-works-main .works-item li {
		margin-bottom: 15px;
	}
	.echo-mobile {
		display: block !important;
	}
	.over-right{right: 0px; left: 20px;}
.over-left{left: 20px;}
.showindesktop{display:none !important;}
.showinmobile{display:block;}
.reserve-me{  flex-direction: column-reverse;}
.how-its-works-container .how-its-works-main .works-item{display:none;}

.accord-mobile{
	text-align: left;
}
.accord-mobile-data{
	display: none!important;
}
.header-menu ul li a{
	font-size:16px;
}
/* .loginWrap li a {
	width: auto;

} */

/* .marketplace-wrap {
	background: url('../images/hand-shake.png') no-repeat center!important;
    background-size: 118% 101%!important;
}
.marketbox-wrap:nth-of-type(1){
    margin-bottom: 350px;
}
.marketbox-wrap:nth-of-type(2){
    margin-top: 210px;
} */
.marketbox{
	margin: 0 auto;
}
.opportunity-container .opportunity-main .main-items .item h3 {
    font-weight: 700;
    font-size: 16px;
}
.feature-main .feature-items .item-content{
	height: 300px;

}
.feature-main .feature-items .item-content h4{
	height: 85px;
}
}

@media screen and (min-width: 600px) and (max-width: 992px) {
	.loginWrap li a {
		width: auto;
	
	}
	.header-menu ul li a{
		font-size:13px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	/* .feature-container .feature-main .feature-items .hex-item {
		top: 0px!important;
		left: 0px!important;
		margin: 34px auto;
	} */
	.marketplace-wrap:before{
		background-image: none;
	}
	.header-menu ul li{
		margin-right:12px;
	}
}

/* @media only screen and (min-width: 768px) and (max-width: 1199px) {
	
	.feature-container .feature-main .feature-items .hex-item {
		top: 0px!important;
		left: 0px!important;
		margin: 34px auto;
	}
} */

@media only screen and (min-width: 1440px) {
	.container {
		max-width: 1140px;
	}
}